<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REZULTATI{% for item in podaci %}{{item.ime}}{{item.prezime}} {% endfor %}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<style>

    body
    {
        background-image:url({{url_for('static',filename='images/healthcare.jpg')}})
    }

</style>

<h2> Vitalne funkcije {% for item in podaci %} {{item.ime}} {{item.prezime}} {% endfor %}  </h2>

<div class="zadnjih_10">
    <p class="prikaz_top_10">Prikaz temperature </p>

    <table class="zadnji">
        <tbody>
        <tr>
        <th>Vrijeme</th>
        <th>Temperatura</th>
        </tr>
        <ul>
        {% for item in data_zadnji %}
        <tr>
        <td>{{item.vrijeme}}</td>
        <td>{{item.vrijednost}}</td>
        </tr>
        {% endfor %}
        </ul>
        </tbody>
        </table>
</div>


<div class="top10">
    <p class="prikaz-tablice">Prikaz otkucaja srca (bpm)</p>

    <table class="top">
        <tbody>
        <tr>
        <th>Vrijeme</th>
        <th>BPM</th>
        </tr>
        <ul>
        {% for item in data_top %}
        <tr>
        <td>{{item.vrijeme}}</td>
        <td>{{item.vrijednost}}</td>
        </tr>
        {% endfor %}
        </ul>
        </tbody>
        </table>
</div>
<div class="centar">
    {% if session['id_uloge'] == 0 %}
        <form action="/nazad" method="get">
            <button class="unazad_korisnik" ></button>
        </form>
     {% endif %}
</div>
<div class="centar">
    <form action="/login" method="get">
        <button class="odjava_korisnika" ></button>
    </form>
</div>


</body>

</html>
